@charset "utf-8";


.price {
  background-color: $color-card-back;
  padding-top: 45px;
  padding-bottom: 102px;
  @include mqTAB-PRICE {
    padding-bottom: 0px;
  }
  .inner {
    width: 1088px;
    max-width: 100%;
    margin: 0 auto;
      .price__heading {
        @include heading(31px, 76px);
        &::before {
          @include heading-line;
        }
      } //.price__heading
  } //.inner
    &__inner--wrapper {
      width: 1088px;
      margin: 0 auto;
      display: flex;
      @include mqTAB-PRICE {
        background-image: url(../img/table/price-img.png); /* タブレット幅以下では画像を背景に */
        background-size: cover;
        background-color:rgba(255,255,255,0.5);
        background-blend-mode:lighten;
        width: 100%;
        height: 500px;
        display: flex;
        align-items: center;
      }
    } //.price__inner--wrapper
      &__wrapper--img {
        .price-img {
          margin-right: 122px;
          @include mqTAB-PRICE {
            display: none; /* タブレット幅以下では画像を背景にするためnone */
          }
        }
      } //.price__wrapper--img
      &__wrapper--table {
        @include mqTAB-PRICE {
          margin: 0 auto;
        }
      } //.price__wrapper--table
        .price-table-wrap {
          @include mqTAB-PRICE {
            width: 100%;
            margin: 0 auto;
          }
        } //.price-table-wrap
          .price-table {
            border: 1px solid $color-blog-border;
            border-collapse: collapse;
            font-size: 1.6rem;
            line-height: 1.1rem;
            color: $color-black;
            width: 605px;
            height: 270px;
            table-layout: fixed;
            margin-bottom: 16px;
            @include mqTAB-PRICE {
              width: 90%;
              margin: 0 auto;
            }
            th {
              font-family: 'Lato', 'Gill', sans-serif;
              border: 1px solid $color-blog-border;
              color: $color-white;
              background-color: $color-blog-text;
              vertical-align: middle;
              &:first-child {
                width: 160px;
                @include mqSP-PRICE {
                  width: 90px;
                }
              }
            }
            td {
              font-family: 'Noto Sans JP', 'ヒラギノ角ゴ', sans-serif;
              border: 1px solid $color-blog-border;
              background-color: $color-white;
              text-align: right;
              vertical-align: middle;
              padding-right: 15px;
              &.font-special {
                font-size: 1.6rem;
                line-height: 2.1rem;
                padding-right: 14.5px;
                .special {
                  color: $color-red;
                }
                .special-desc {
                  font-size: 1.4rem;
                  line-height: 2.2rem;
                  @include mqXS {
                    font-size: 1.2rem;
                  }
                }
              }
            }
          } //.price-table
          .price-table-contact {
            @include mqTAB-PRICE {
              width: 90%;
              margin: 0 auto;
            }
            &__text {
              font-size: 1.57rem;
              line-height: 2.6rem;
              color: $color-black;
              .price-table-contact__link {
                font-size: 1.6rem;
                line-height: 2.6rem;
                color: $color-black;
                text-decoration: underline;
                &:hover {
                  opacity: 0.7;
                }
              }
              @include mqTAB-PRICE {
                margin-top: 20px;
              }
            }
          } //.price-table-contact
        // } //.price-table-wrap
      // } //.price__wrapper--table
    // } //.price__inner--wrapper
  // } //.inner
} //.price
