// header-color
$color-white: #FFFFFF;
$color-black: #333333;
$color-blue: #3F51B5;
$color-gray: #D6D6D6;
$color-red: #E81919;
$color-drawer: #707070;
$color-overlay: #000000CC;
$color-current: skyblue;

// top-swiper-color
$color-pagination: #FFFFFF9E;
$color-pagination-active: #2F7DC8;

// card-color
$color-card-back: #EFEFEF;
$color-card-border: #3F51B5;
$color-card-text: #6F7579;

// card-blog-color
$color-blog-text: #999999;
$color-blog-border: #707070;
$color-blog-shadow: #000029;

// card-price-color
$color-price-support: #EDEDED;
$color-price-border: #CCCCCC;

// news-color
$color-news-label1: #666666;
$color-news-label2: #3F51B5;
$color-news-label3: #E81919;
$color-news-border: #707070;
$color-news-blog: #B53F6E;
$color-news-attention: #FEBB07;

// modal
$color-modal-title: #707070;
$color-modal-overlay: rgba(0, 0, 0, 0.5);

// footer-color
$color-footer-back1: #666666;
$color-footer-back2: #333333;


// breakpoint ※モバイルファーストのコーディングで、なるべくブレイクポイントは減らすように※
$layout-width-inner: 1086px;
$breakpoints: (
  "xxs":"screen and (max-width: 321px)",
  "xs-modal":"screen and (max-width: 340px)",
  "xs":"screen and (max-width: 365px)",
  "sp-modal":"screen and (max-width: 420px)",
  "sm":"screen and (min-width: 366px) and (max-width: 510px)",
  "md":"screen and (min-width: 511px) and (max-width: 620px)",
  "sp-price":"screen and (max-width: 550px)",
  "sp-footer":"screen and (max-width: 580px)",
  "voice":"screen and (max-width: 720px)",
  "sp":"screen and (min-width: 621px) and (max-width: 768px)",
  "sp-drawer":"screen and (max-width: 768px)",
  "sp-card":"screen and (max-width: 767px)",
  "tab-contact":"screen and (max-width: 800px)",
  "tab-news":"screen and (max-width: 850px)",
  "tab-qa":"screen and (max-width: 905px)",
  "tab":"screen and (max-width: #{$layout-width-inner - 1px})",
  "tab-price":"screen and (max-width: 1110px)",
  "tab-footer":"screen and (max-width: 1080px)",
  "pc":"screen and (min-width: #{$layout-width-inner})",
  "pc-swiper":"screen and (min-width: 1365px)",
)!default;