@charset "utf-8";

// /* header------------------------------- */ style.scssもこのコメントアウトで囲んでいるのでここには不要もしくは/*ではなく//で囲んでおく
.nav {
  background: $color-blue;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
  @include mqSP-DRAWER {
    display: none;
  }
  .flex {
    /* ロゴとメニューを横並びにしてinnerの両端揃えに */
    display: flex;
    justify-content: space-between;
    /* 高さを設定して縦にセンタリング */
    height: 100px;
    align-items: center;
  } //.flex
  &__inner {
    @include inner;
  } //.nav__inner
    &__logo {
      @include mqXS {
        margin-left: 1rem;
      }
      @include mqSM{
        margin-left: 1rem;
      }
      @include mqMD{
        margin-left: 1rem;
      }
      @include mqSP{
        margin-left: 1rem;
      }
      @include mqTAB{
        margin-left: 2rem;
      }
    }
    &__list {
      @include mqTAB{
        margin-right: 2rem;
      }
    } //.nav__list
    &__list--item {
      display: inline-block;
      &:not(:last-child) {
        margin-right: 32.5px;
      }
      .nav-hover {
        display: inline-block;
        color: $color-white;
        font-family: 'Lato', 'Gill', sans-serif;
        font-size: 1.6rem;
        line-height: 2.6rem;
        /* padding-bottom: 4.5px; //文字と下線に隙間を作る←他のメニューより上にずれる:line-heightを設定してなかったのが原因！ */
        position: relative;
        /* transition: 0.2s; 不要っぽいので一旦コメントアウト */
        &::after {
          position: absolute;
          content: '';
          display: inline-block;
          width: 0;
          height: 3px;
          bottom: -2px;
          left: 0;
          background: $color-red;
          transition: width 0.3s; /* プロパティを指定する */
        }
        &:hover::after {
          width: 100%;
        }
      } //.nav-hover
    } //.nav__list--item
    // } //.nav__list ネスト整理のため移動
  // } //.nav__inner
} //.nav
.nav-responsive, .drawer-menu { /* .overlay,を削除 */
  display: none;
}
/* カレント表示用のスタイル。あとで付与するクラスなのでここに記述した。 */
/* (.current{~ という書き方ではダメで、↓のようにjqueryで指定した、親要素からの書き方で書く) */
#current-nav li a.current {
  position: relative;
  /* transition: 0.2s; 不要っぽいので一旦コメントアウト */
  &::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 3px;
    bottom: -2px;
    left: 0;
    background: $color-red;
    transition: width 0.3s;
  }
}

/* ドロワーメニュー */
@include mqSP-DRAWER {
  .nav-responsive {
    display: block;
    background: $color-blue;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
    .nav-responsive__inner {
      @include inner;
    } //.nav-responsive__inner
    .flex {
      display: flex;
      justify-content: space-between;
      height: 60px;
      align-items: center;
    } //.flex
  } //.nav-responsive
  .drawer-menu__btn {
    margin: 0 18px 0 0;
    cursor: pointer;
    .drawer-btn {
      display: block;
      width: 28px;
      height: 22px;
      // top: 0px;
      position: relative;
      .hamburger {
        position: absolute;
        // right: 0;
        width: 100%;
        height: 4px; /* 線の太さ */
        background: $color-white;
        &:nth-child(1) {
          top: 0;
        }
        &:nth-child(2) {
          top: 9px;
        }
        &:nth-child(3) {
          bottom: 0;
        }
      } //.hamburger
    } //.drawer-btn
  } //.drawer-menu__btn
  .overlay { //<span>で設置バージョン
    // display: block;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: $color-overlay;
    z-index: 9999;
    display: none;
  }
  // .overlay { /* <body>にクラスをjsで付与バージョン */
  //   position: relative;
  //   &::after {
  //     position: absolute;
  //     content: '';
  //     width: 100%;
  //     // height: 100vh; 全画面カバーにならなかったため100%に変更
  //     height: 100%;
  //     top: 0;
  //     left: 0;
  //     background: $color-overlay;
  //     z-index: 9999;
  //     // display: none; jsでクラスをadd/removeさせるため削除
  //   }
  // } //.overlay 
  .drawer-menu {
    display: block;
    width: 200px;
    height: 100%;
    background: $color-white;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 99999;
    transform: translateX(200px); /* ドロワーメニューの幅分、右に隠す */
    transition: ease 0.5s;
    &.open {
      transform: translateX(0);
    }
    &__list--item {
      display: inline-block;
      border-bottom: 1px dashed $color-drawer;
    }
    &__link {
      display: inline-block;
      color: $color-drawer;
      font-family: 'Lato', 'Gill', sans-serif;
      font-size: 1.6rem;
      line-height: 2.6rem;
      padding: 15px 145px 14px 20px;
      position: relative;
      &::after {
        position: absolute;
        content: '';
        background: url(../../../img/header/drawer/arrow-b.min.svg) no-repeat;
        width: 100%;
        height: 100%;
        top: 23px;
        left: 174px;
      }
    }
    .drawer-btn-close {
      width: 28px;
      height: 28px;
      display: block;
      position: fixed;
      top: 30px;
      left: -25px;
      cursor: pointer;
      display: none; /* jsにて表示、非表示させる */
      .hamburger-close {
        position: absolute;
        right: 18px;
        width: 100%;
        height: 4px; /* 線の太さ */
        background: $color-white;
        &:nth-child(1) {
          transform: rotate(45deg);
        }
        &:nth-child(2) {
          transform: rotate(-45deg);
        }
      } //.hamburger-close
    } //.drawer-btn-close
  } //.drawer-menu
}